@page "/execucao/whatsapp"
@inject HttpClient httpas

<h3>WhatsappAPI</h3>

<p>Teste De Tela</p>

<label for="nascimento">Numero de Telefone:</label>
<br>
<input type="text" 
    id="phone" 
    name="phone" 
    pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" 
    size="40" 
    required
    minlength="11" 
    maxlength="12"
    placeholder="Digite o numero de telefone com DDD"
    @oninput="OnInputEvent">
<br>
<button 
    class="btn btn-primary" 
    @onclick="ExecutaAPI">
    Iniciar Conversa
</button>



@code {

    protected override async Task OnInitializedAsync()
    {
        lWhatsapis = await https.GetJsonAsync<List<WhatsAPI>>("Dados/ListaNumeros.json");
    }

    public List<WhatsAPI> lWhatsapis = new List<WhatsAPI>();

    public class WhatsAPI
    {
        public string NumberPhone{ get; set; }
        public string TextMesage{ get; set; }
    }
    private string sNumberTel = "";

    private void OnInputEvent(ChangeEventArgs changeEvent)
    {
        sNumberTel = (string)changeEvent.Value;
        if(bValida(sNumberTel))
        {
           
        }
        //inputValue = (string)changeEvent.Value;
    }

    private bool bValida(string sTel)
    {
        return true;
    }

    public void ExecutaAPI()
    {

    }

}
